.news-form {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 95vw;
	height: 100vh;
	z-index: 2;
}

.news-form__background{
	width: 98vw;
	height: 100vh;
	position: absolute;
	background-color: black;
	opacity: 0.6;
	z-index: 1;
}

.news-form_position {
	border-width: thick;
	border-color: black;
	border-style: ridge;
	background-color: white;
	padding-left: 3%;
	padding-right: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.news-form_appear{
	animation: appear 0.5s ease-out;
}

.news-form_disappear{
	animation: disappear 0.5s ease-out;
}

.news-form__input-title_position{
	width: 90%;
	padding-bottom: 1vh;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	margin-right: 0.5vw;
	margin-bottom: 1vh;
	margin-top: 1vh;
}

.news-form__select_size{
	float: left;
	padding-bottom: 1vh;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	width: 44.5%;
	margin-right: 0.5vw;
}

.news-form__input-category_position{
	width: 90%;
	padding-bottom: 1vh;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	margin-right: 0.5vw;
	margin-bottom: 1vh;
	margin-top: 1vh;
}

.news-form__input-category_size{
	float:left;
	width: 44.5%;
	margin-top : 0;
	margin-bottom: 0;
}

.news-form__textarea-content_position{
	width: 90%;
	padding-bottom: 1vh;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	margin-right: 0.5vw;
	margin-bottom: 1vh;
	margin-top: 1vh;
}

.news-form__error-text-title_appear{
	font-size: 18px;
	height: 18px;
	color: red;
	margin-top: 1%;
	margin-bottom: 2%;
	animation: error_appear 0.5s ease;
}

.news-form__error-text-title_disappear{
	font-size: 18px;
	height: 18px;
	animation: error_disappear 0.5s ease;
	color: red;
}

.news-form__error-text-content_appear{
	font-size: 18px;
	height: 18px;
	color: red;
	margin-top: 1%;
	margin-bottom: 2%;
	animation: error_appear 0.5s ease;
}

.news-form__error-text-content_disappear{
	font-size: 18px;
	height: 18px;
	animation: error_disappear 0.5s ease;
	color: red;
}

.news-form__textarea-content_size{
	height: 15vh;
}

@keyframes appear{
	from{
		margin-bottom: 90vh;
		opacity: 0;
	}
}

@keyframes disappear{
	to{
		margin-top: 90vh;
		opacity: 0;
	}
}

@keyframes error_appear{
	from{
		margin-bottom: -4%;
		opacity: 0;
	}
}

@keyframes error_disappear{
	to{
		margin-top: -3%;
		opacity: 0;
	}
}

